.DS_Store
.ipynb_checkpoints
__pycache__
be.txt*
GrammarDB*
cc.be.300.vec
processed-corpus.txt
word2vec-cc100-cbow-d100-w3-min10.model
word2vec-cc100-cbow-d100-w3-min10.vectors
word2vec-cc100-skipgram-d100-w3-min10.model
word2vec-cc100-skipgram-d100-w3-min10.vectors
word2vec-cc100-cbow-d200-w3-min10.model*
word2vec-cc100-cbow-d200-w3-min10.vectors
fasttext-cc100-d100-w3-min10.model*
fasttext-cc100-d100-w3-min10.vectors
glove/cooccurrence*
glove/vectors.txt
glove/vocab.txt
removed-words.txt
removed-words-count.txt
word_map.txt
tsbm.dsl*
.idea
