.DS_Store
.ipynb_checkpoints
__pycache__
be.txt*
GrammarDB*
cc.be.300.vec
w2v-*.model*
w2v-*.vectors
ft-*.model*
ft-*.vectors
glove/cooccurrence*
glove/vectors.txt
glove/vocab.txt
processed-corpus*txt
removed-words*.txt
word-map*.json
losses.json
tsbm.dsl*
.idea
nohup.out
bel-by_web_2013_1M
w2v_cc_300d_be_3.4.1_3.0_1647286503811*