.DS_Store
.ipynb_checkpoints
be.txt*
GrammarDB*
cc.be.300.vec
processed-corpus.txt
word2vec-cc100-cbow-d100-w3-min10.model
word2vec-cc100-cbow-d100-w3-min10.vectors
removed-words.txt
removed-words-count.txt
